.navbar.navbar-inverse{
    background: whitesmoke;
    color: teal;
}
.navbar.navbar-inverse li>a {
    color: #5340ff;
}
.navbar.navbar-inverse li:hover{
    background-color: black;
    color: brown;
}